.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 0%;
  
  }
  /* heading */
  .portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .portfolio span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* slider */
  .portfolio .swiper{
      overflow: visible!important;
      margin-left: 1rem;
  
  }
  
  .portfolio-slider {
    margin-top: 4rem;
    width: 35%;
    margin-left: 0%;
  }

  .portfolio-slider>:nth-child(1){
    align-items: center;
    justify-content: center;
    margin-left: 19.7rem;
  }
  
  .portfolio-slider .slidesPerView {
    width: 20rem;
    

  }
  .portfolio img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    cursor: pointer;
    margin-bottom: 4rem;
    
  }
  .portfolio .swiper-pagination-bullet-active{
    background: var(--orange);

} 


  @media screen and (max-width: 480px) {
    .portfolio{
      width: 20rem;
      filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
      border-radius: 19px;
      cursor: pointer;
      margin-bottom: 4rem;
      
    }
.portfolio-slider{
  width: 100%;
  height: 100%;


}
.portfolio img{
  width: 72%;
  height: 78%;
}
.portfolio span:nth-of-type(1){

  margin-top: 8rem;

}
.portfolio span{
  text-align: center;
  align-items: center;
  margin-right: 3.5rem;
}


  }
