.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;

}
:root
{
  
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --green : #61e23a;
    --greendark: #2f7919;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
.button {
  background: linear-gradient(180deg, #1e8f1a 26.71%, #2ffb6c 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(40, 251, 103, 0.42);
  border-radius: 34px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: rgb(247, 242, 235);
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--black);
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }}